.main {
  height: 20vw;
  margin-top: 5vw;
  position: relative;
}

p {
  font-size: 2vw;
  color: var(--paragraph-color);
  text-align: justify;
  line-height: 4rem;
  font-family: "Kosugi", sans-serif;
}

.span {
  color: tomato;
}
.title {
  color: tomato;
  font-size: 3vw;
}
