.main {
  /* height: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project_container {
  position: relative;
  margin-bottom: 15vw;
}

.projet_title {
  color: tomato;
  font-size: 3vw;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-left: solid tomato;
  padding-left: 2rem;
}

.narrative_container {
  z-index: 1000;
  padding-left: 1vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 60%;
}

.narrative_container > p {
  font-size: 2vw;
  color: var(--paragraph-color);
  text-align: justify;
  line-height: 5rem;
  font-family: "Kosugi", sans-serif;
  margin-right: 1vw;

  /* position: absolute; */
}
.span {
  color: tomato;
}

.image1_container {
  /* border: solid rgb(0, 0, 97); */
  width: 70%;

  background-size: cover;
  border-radius: 100px;
  opacity: 0.2;
  height: 40vw;
  z-index: 2;
  float: right;
  overflow: hidden;
  height: fit-content;
}

.image1_container > img {
  border-radius: 10px;
  height: 40vw;
}

a {
  color: var(--tomato);
  text-decoration: none;
}
/* 
.progress_paragraph {
  width: 80%;
}

ul {
  padding-left: 0;
  border: solid red;
  width: fit-content;
  list-style: none;
} */
