/* CSS Custom Properties */
:root {
  --main-color: #526a7f;
  --light-alice-blue: #fff0ee;
  --clickable-items: #c0c6cc;
  --tomato: #ff6347;
  --paragraph-color: #f0f8ff;
}
/* #c0c6cc */

body {
  margin: 0;
  background-color: var(--light-alice-blue);
}
