.main {
}
.ul_nav {
  list-style: none;
  border-bottom: 2px solid tomato;
  height: 2vw;
  padding-left: 0;
  text-align: center;
  font-size: 1vw;
  letter-spacing: 0.2rem;
  color: var(--clickable-items);
  font-weight: 530;
  width: 60%;
  margin: 5vw auto;
}

.ul_nav > li {
  display: inline;
  padding-left: 2vw;
  border-right: 2px solid tomato;
  padding: 1vw;
  padding-right: 2vw;
}

.ul_nav > li:hover {
  background-color: tomato;
  transition: 0.7s;
}

.active {
  background-color: tomato;
  /* color: var(--paragraph-color); */
}
